## 探索电影数据集

在这个项目中，你将尝试使用所学的知识，使用 `NumPy`、`Pandas`、`matplotlib`、`seaborn` 库中的函数，来对电影数据集进行探索。

下载数据集：
[TMDb电影数据](https://s3.cn-north-1.amazonaws.com.cn/static-documents/nd101/explore+dataset/tmdb-movies.csv)

数据集各列名称的含义：
<table>
<thead><tr><th>列名称</th><th>id</th><th>imdb_id</th><th>popularity</th><th>budget</th><th>revenue</th><th>original_title</th><th>cast</th><th>homepage</th><th>director</th><th>tagline</th><th>keywords</th><th>overview</th><th>runtime</th><th>genres</th><th>production_companies</th><th>release_date</th><th>vote_count</th><th>vote_average</th><th>release_year</th><th>budget_adj</th><th>revenue_adj</th></tr></thead><tbody>
 <tr><td>含义</td><td>编号</td><td>IMDB 编号</td><td>知名度</td><td>预算</td><td>票房</td><td>名称</td><td>主演</td><td>网站</td><td>导演</td><td>宣传词</td><td>关键词</td><td>简介</td><td>时常</td><td>类别</td><td>发行公司</td><td>发行日期</td><td>投票总数</td><td>投票均值</td><td>发行年份</td><td>预算（调整后）</td><td>票房（调整后）</td></tr>
</tbody></table>

**请注意，你需要提交该报告导出的 `.html`、`.ipynb` 以及 `.py` 文件。**



---

---

## 第一节 数据的导入与处理

在这一部分，你需要编写代码，使用 Pandas 读取数据，并进行预处理。


**任务1.1：** 导入库以及数据

1. 载入需要的库 `NumPy`、`Pandas`、`matplotlib`、`seaborn`。
2. 利用 `Pandas` 库，读取 `tmdb-movies.csv` 中的数据，保存为 `movie_data`。

提示：记得使用 notebook 中的魔法指令 `%matplotlib inline`，否则会导致你接下来无法打印出图像。

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
movie_data = pd.read_csv('tmdb-movies.csv')

---

**任务1.2: ** 了解数据

你会接触到各种各样的数据表，因此在读取之后，我们有必要通过一些简单的方法，来了解我们数据表是什么样子的。

1. 获取数据表的行列，并打印。
2. 使用 `.head()`、`.tail()`、`.sample()` 方法，观察、了解数据表的情况。
3. 使用 `.dtypes` 属性，来查看各列数据的数据类型。
4. 使用 `isnull()` 配合 `.any()` 等方法，来查看各列是否存在空值。
5. 使用 `.describe()` 方法，看看数据表中数值型的数据是怎么分布的。

### 通关提示 ：把上面的每个方法都要运行一遍
* `.head(n=5)`、`.tail(n=5)`、`.sample(n=1)`都可以传入相应的数量
* `.dtypes`查看数据类型有助于我们对数据做修改、赋值等处理
* `isnull()`配合 `.any()`、 `.sum()`是检查Nan值的常用方法
* `.describe()` 会返回各个数值类型列的分位数、平均值、最大最小值等信息。分位数的计算可以使用`series.quantile()`方法。   
https://www.cnblogs.com/gispathfinder/p/5770091.html

In [3]:
# .head()

In [ ]:
# .tril()

In [ ]:
# .sample()

In [5]:
#..dtypes

In [ ]:
#.isnull() .any()

In [6]:
# .describe()
movie_data.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [11]:
movie_data.id.quantile([0.33, 0.75])

0.33    12473.9
0.75    75610.0
Name: id, dtype: float64

---

**任务1.3: ** 清理数据

在真实的工作场景中，数据处理往往是最为费时费力的环节。但是幸运的是，我们提供给大家的 tmdb 数据集非常的「干净」，不需要大家做特别多的数据清洗以及处理工作。在这一步中，你的核心的工作主要是对数据表中的空值进行处理。你可以使用 `.fillna()` 来填补空值，当然也可以使用 `.dropna()` 来丢弃数据表中包含空值的某些行或者列。

任务：使用适当的方法来清理空值，并将得到的数据保存。

### 通关必备：
1. 表格中的数据类型分为两大类，字符类型和数值类型，字符类型是object，数值类型包括 int64 和 float64。其中，数值类型的空值已经再数据中用数值0表示，字符类型的数据是Nan,处理的适合可以分开处理。   
2. 可以使用`movie_data.info()`查看各个列的数据类型和数据长度。
3. 使用`movie_data.select_dtypes(inlude=)`可以根据数据类型赛选数据。
4. 使用`replace(0, np.nan)`可以把数据0替换为Nan。
5. 使用`dropna(subset=[])`对指定列进行操作。
6. 使用`fillna(value= )`把Nan的值填充为指定值。
7. 使用`interpolate()`对数值类型列的Nan值做插值填充。

In [14]:
# 使用movie_data.info()查看各个列的数据类型和数据长度
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [13]:
# 查看非数值类型的格列Nan的个数
movie_data.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [ ]:
# 因为imdb_id、overview，genres的包含nan的值较少，
# 所以这里drop掉这些包含non值的行，不会过分影响数据

# 其他列含nan的值填充'Unknown'

In [ ]:
# 再次查看数值类型的格列Nan的个数， 确认处理结果

In [17]:
# 根据movie_data.describe()，budget、revenue、budget_adj、revenue_adj 
# 这4列数据存在大量的0
print(movie_data[(movie_data.budget == 0)].budget.value_counts())
print(movie_data[(movie_data.revenue == 0)].revenue.value_counts())

0    5696
Name: budget, dtype: int64
0    6016
Name: revenue, dtype: int64

In [20]:
# 把0值替换为 nan
movie_data[['budget', 'revenue', 'budget_adj', 'revenue_adj' ]].replace(0, np.nan)
# 把nan做插值
movie_data.interpolate?

In [ ]:
# 查看是否处理完
movie_data.describe()

---

---

## 第二节 根据指定要求读取数据


相比 Excel 等数据分析软件，Pandas 的一大特长在于，能够轻松地基于复杂的逻辑选择合适的数据。因此，如何根据指定的要求，从数据表当获取适当的数据，是使用 Pandas 中非常重要的技能，也是本节重点考察大家的内容。

---

**任务2.1: ** 简单读取

1. 读取数据表中名为 `id`、`popularity`、`budget`、`runtime`、`vote_average` 列的数据。
2. 读取数据表中前1～20行以及48、49行的数据。
3. 读取数据表中第50～60行的 `popularity` 那一列的数据。

要求：每一个语句只能用一行代码实现。

### 通关必备：
1. 读取多列 `movie_data[]`中传入一个list.
2. 读取多行`movie_data.iloc[]`中传入一个list
3. 某行某列`movie['popularity'].iloc[]`先选列再选行

In [ ]:
movie_data[[]]

In [22]:
movie_data.iloc[[1,2,3, 48, 49]]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
48,265208,tt2231253,2.932340,30000000,0,Wild Card,Jason Statham|Michael Angarano|Milo Ventimigli...,NaN,Simon West,Never bet against a man with a killer hand.,...,When a Las Vegas bodyguard with lethal skills ...,92,Thriller|Crime|Drama,Current Entertainment|Lionsgate|Sierra / Affin...,1/14/15,481,5.3,2015,2.759999e+07,0.000000e+00
49,254320,tt3464902,2.885126,4000000,9064511,The Lobster,Colin Farrell|Rachel Weisz|LÃ©a Seydoux|John C...,http://tickets.picturehouseentertainment.co.uk...,Yorgos Lanthimos,An unconventional love story...,...,"In a dystopian near future, single people, acc...",118,Thriller|Comedy|Drama|Romance|Science Fiction,Haut et Court|Eurimages|Lemming Film|Element P...,10/8/15,638,6.6,2015,3.679998e+06,8.339346e+06

In [ ]:
movie['popularity'].iloc[[]]
movie.iloc[[]].popularity

---

**任务2.2: **逻辑读取（Logical Indexing）

1. 读取数据表中 **`popularity` 大于5** 的所有数据。
2. 读取数据表中 **`popularity` 大于5** 的所有数据且**发行年份在1996年之后**的所有数据。

提示：Pandas 中的逻辑运算符如 `&`、`|`，分别代表`且`以及`或`。

要求：请使用 Logical Indexing实现。

### 通关必备
条件筛选：`movie_data[(movie_data['popularity'] > 5) & (movie_data['popularity'] < 7)]`

---

**任务2.3: **分组读取

1. 对 `release_year` 进行分组，使用 [`.agg`](http://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html) 获得 `revenue` 的均值。
2. 对 `director` 进行分组，使用 [`.agg`](http://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html) 获得 `popularity` 的均值，从高到低排列。

要求：使用 `Groupby` 命令实现。

### 通关必备
1. .agg()可以传入一个函数名，比如'sum'按列计算和，'mean'按列计算平均值。
2. .agg()返回一个DataFrame， 然后再选取'revenue'列
3. 使用`sort_values('列名', ascending=False)`进行排序，ascending参数为True是升序，False是降序

In [28]:
movie_data.groupby('release_year').agg('sum')

,id,popularity,budget,revenue,runtime,vote_count,vote_average,budget_adj,revenue_adj
release_year,,,,,,,,,
1960,502889,14.685834,22056948,145005000,3541,2481,202.4,1.626252e+08,1.069117e+09
1961,578367,13.107641,46137000,337720188,3702,2405,197.6,3.365630e+08,2.463622e+09
1962,544034,14.553069,54722126,215579846,3979,2392,203.0,3.944616e+08,1.553996e+09
1963,562904,17.092019,73331500,187404989,3785,2816,215.2,5.221334e+08,1.334357e+09
1964,729942,17.321989,39483161,340981782,4587,3137,260.9,2.775772e+08,2.397193e+09
1965,614765,11.990529,70205115,458081854,4136,1820,216.8,4.858590e+08,3.170185e+09
1966,759644,13.989152,57554800,84736689,4917,1460,281.9,3.866540e+08,5.692623e+08
1967,697188,18.846147,100652200,737834637,4198,3102,249.7,6.579397e+08,4.823051e+09
1968,726515,18.883866,71939000,264732980,4184,4217,248.8,4.509830e+08,1.659601e+09
1969,591357,13.106127,42129087,243957076,3304,1733,184.8,2.504264e+08,1.450145e+09
1970,751907,14.009686,126966946,560221969,4594,2011,263.1,7.130931e+08,3.146413e+09
1971,1137584,24.646153,75997000,404910610,5925,5081,353.1,4.092587e+08,2.180523e+09
1972,704684,17.962162,36279254,494730171,4078,5433,261.4,1.891804e+08,2.579801e+09
1973,997893,27.195419,65190783,1223981102,5694,5173,368.7,3.201623e+08,6.011167e+09
1974,910835,21.047978,76970000,812539818,4964,5207,300.6,3.403832e+08,3.593282e+09
1975,760791,22.855561,56279000,957489966,4724,6088,281.2,2.280324e+08,3.879578e+09
1976,744888,22.302266,122150000,801005600,5138,4720,298.0,4.680419e+08,3.069212e+09
1977,1420531,35.704048,161580000,2180583159,6105,8031,350.4,5.813295e+08,7.845261e+09
1978,1411200,26.865433,208997011,1369779659,7155,4898,398.5,6.986145e+08,4.578763e+09
1979,1086718,33.590762,254814000,1684794913,6385,8830,359.6,7.656024e+08,5.062057e+09
1980,1639820,38.660886,362500000,1768662387,8385,10898,480.5,9.591883e+08,4.679946e+09
1981,1560246,36.277875,373757786,1774606236,8681,7480,505.6,8.963425e+08,4.255844e+09
1982,1403773,44.011589,437795002,2458443852,8418,11385,505.6,9.892602e+08,5.555204e+09
1983,1400668,43.315574,519107412,2307529320,8240,9886,477.7,1.136488e+09,5.051902e+09
1984,1611152,62.038521,729211964,2635524418,10864,15371,630.4,1.530647e+09,5.532077e+09
1985,1629950,63.662354,748720637,2875772392,12463,13761,673.3,1.517781e+09,5.829668e+09
1986,1886604,61.655002,704533613,3002778281,12092,13675,726.6,1.401604e+09,5.973746e+09
1987,2048079,63.079564,709455811,3462104847,12646,15064,766.1,1.361503e+09,6.644058e+09
1988,2707730,67.430667,925348000,3739550845,14760,14576,865.0,1.706241e+09,6.895324e+09
1989,2629704,77.221155,1079656360,5164923718,14355,18657,831.6,1.899099e+09,9.085023e+09
1990,1857851,70.716996,1289922066,5315166660,13946,21575,791.2,2.152749e+09,8.870474e+09
1991,1905608,66.644959,1466233000,4706599796,13980,17006,799.9,2.347575e+09,7.535703e+09
1992,1794978,77.527364,1441765370,6078153217,14235,19447,808.8,2.240538e+09,9.445598e+09
1993,2788827,97.375953,1779628653,6955151167,19068,24284,1076.9,2.686296e+09,1.049859e+10
1994,3231011,123.063733,2229207032,7095429177,19672,37591,1093.4,3.279412e+09,1.043817e+10
1995,2920928,124.376366,2865884377,9156341160,18821,35810,1059.8,4.100986e+09,1.310242e+10
1996,3066028,123.372747,3687042051,8311492279,21564,26031,1203.8,5.125788e+09,1.155478e+10
1997,2925074,136.704630,4751086675,10655173234,20449,40985,1149.8,6.454163e+09,1.447463e+10
1998,3092866,131.494588,4499660000,9493174938,22063,40042,1253.8,6.019175e+09,1.269898e+10
1999,4150239,144.658971,5765235106,11355712579,24385,53447,1351.3,7.546997e+09,1.486523e+10
2000,3611297,124.123452,5752700000,10978701012,23558,46206,1335.3,7.284599e+09,1.390224e+10
2001,4144137,170.043163,5641944000,13410083139,26144,63058,1426.9,6.947987e+09,1.651436e+10
2002,3607313,186.586849,5894640255,14643618528,28426,62904,1588.9,7.145845e+09,1.775189e+10
2003,5527642,202.062290,6239857694,15138243542,28291,68425,1666.6,7.396432e+09,1.794416e+10
2004,4468149,221.788592,7170340222,16793822618,32347,79200,1838.5,8.277766e+09,1.938755e+10
2005,5140666,228.833453,7343284349,16516835108,37378,73336,2135.4,8.199242e+09,1.844209e+10
2006,5906687,247.399250,7306185300,16275739385,41487,76083,2424.1,7.902875e+09,1.760497e+10
2007,7005822,259.804380,7635569004,19411668670,43980,90391,2612.4,8.030088e+09,2.041464e+10
2008,9101362,290.069191,7781262597,19431695138,49739,102562,2941.7,7.880759e+09,1.968016e+10
2009,16241077,319.895074,8594084056,22180170559,52261,119689,3121.6,8.735031e+09,2.254393e+10
2010,23087632,316.029586,9385001006,21959998545,48079,130149,2935.5,9.385001e+09,2.196000e+10
2011,37302676,364.537424,9018153652,23695591578,52878,135439,3217.6,8.742180e+09,2.297046e+10
2012,61545950,357.031964,8274084052,24668428824,57607,183539,3410.3,7.858264e+09,2.342870e+10
2013,111910769,413.606395,9236038361,24703633017,63293,214486,3875.3,8.645240e+09,2.312342e+10
2014,170103095,621.087887,7923990138,24331150183,68832,206262,4144.5,7.298716e+09,2.241120e+10
2015,186663306,648.283099,7596547557,26762450518,60620,182422,3702.1,6.988821e+09,2.462144e+10

---

---

## 第三节 绘图与可视化

接着你要尝试对你的数据进行图像的绘制以及可视化。这一节最重要的是，你能够选择合适的图像，对特定的可视化目标进行可视化。所谓可视化的目标，是你希望从可视化的过程中，观察到怎样的信息以及变化。例如，观察票房随着时间的变化、哪个导演最受欢迎等。

<table>
<thead><tr><th>可视化的目标</th><th>可以使用的图像</th></tr></thead><tbody>
 <tr><td>表示某一属性数据的分布</td><td>饼图、直方图、散点图</td></tr>
 <tr><td>表示某一属性数据随着某一个变量变化</td><td>条形图、折线图、热力图</td></tr>
 <tr><td>比较多个属性的数据之间的关系</td><td>散点图、小提琴图、堆积条形图、堆积折线图</td></tr>
</tbody></table>

在这个部分，你需要根据题目中问题，选择适当的可视化图像进行绘制，并进行相应的分析。对于选做题，他们具有一定的难度，你可以尝试挑战一下～

**任务3.1：**对 `popularity` 最高的20名电影绘制其 `popularity` 值。

### 通关必备
1. 首先按照'popularity'对movie_data按降序排序`.sort_values('列名', ascending=False)`，并取出排在前20的数据，保存为popularity_movies。
2. 针对popularity_movies，选择适合的图形，图中坐标轴，一个是original_title，一个是popularity。
3. 如果画条形图，使用sb.barplot()，或者pandas自带的api,plot.barh(), 又或者使用matplotlib直接画图

In [ ]:
# 按popularity排序，取出前20
popularity_movies = movie_data.sort_values('popularity', ascending=False)[][:20]

In [ ]:
# 画图

---
**任务3.2：**分析电影净利润（票房-成本）随着年份变化的情况，并简单进行分析。

### 通关必备：
1. profit = revenue - budge
2. 可以求出每年利润的平均值(mean)再画图, 还可以求出标准差作为误差(sem)
3. 使用`plt.errorbar()`画图，或者使用pandas api画图 `.plot(x = y_means.index, yerr=y_sems)`

In [ ]:
# 计算利润 movie_data['revenue'] - movie_data['budget']

In [ ]:
# 计算平均值和标准差
y_means = movie_data.groupby('release_year')['profit'].mean()
y_sems = movie_data.groupby('release_year')['profit'].sem()

In [ ]:
# 使用plt画图

分析：

---

**[选做]任务3.3：**选择最多产的10位导演（电影数量最多的），绘制他们排行前3的三部电影的票房情况，并简要进行分析。

### 通关必备： 
1. 原来数据中单部电影多名导演是用’|’隔开的， 会需要处理包含'|'的director数据
2. 讲director数据分成两类，第一类分为带分割符的，第二类分为带分割符的， 把第一类数据融入第二类数据中。比如，如果导演数据是'Kyle Balda|Pierre Coffin',这需要把其分为Kyle Balda和Coffin做处理。
3. 使用value_counts来快速统计每个导演的作品数量。
4. 根据统计结果找到排名前十的导演。
5. 然后找到排名前十导演的前3部最受欢迎的电影。
6. 画图，建议使用`sb.barplot(data=target_data, x='original_title', y='revenue_adj', hue='director')`

In [39]:
movie_data.dropna(inplace=True)

In [45]:
select_split_director = movie_data.director.str.contains('\|')
split_director = movie_data[select_split_director].director.str.split('|')

In [46]:
split_director

8                             [Kyle Balda, Pierre Coffin]
11                      [Lana Wachowski, Lilly Wachowski]
64                            [Glenn Ficarra, John Requa]
132                       [Mark Burton, Richard Starzack]
143                       [Gerado Olivares, Otmar Penker]
214                              [Ryan Fleck, Anna Boden]
239                         [Toby Genkel, Sean McCormack]
241                            [Jill Bauer, Ronna Gradus]
242                          [Travis Cluff, Chris Lofing]
255                             [Tom Gianas, Ross Shuman]
397                            [Ben Blaine, Chris Blaine]
596                       [Robert Gordon, Morgan Neville]
631                            [Joe Russo, Anthony Russo]
632                        [Chad Stahelski, David Leitch]
635                            [Don Hall, Chris Williams]
666                       [Phil Lord, Christopher Miller]
676                       [Phil Lord, Christopher Miller]
710                      [Frank Miller, Robert Rodriguez]
893                  [Alastair Fothergill, Keith Scholey]
954                             [Andrew Erwin, Jon Erwin]
969                        [Ishi Rudell, Jayson Thiessen]
975                      [Jason Friedberg, Aaron Seltzer]
990                        [Kevin Kolsch, Dennis Widmyer]
996                          [James D. Rolfe, Kevin Finn]
1232                      [Michael Hewitt, Dermot Lavery]
1336                [John Lounsbery, Wolfgang Reitherman]
1390                          [Bob Peterson, Pete Docter]
1402                          [Ron Clements, John Musker]
1411                      [Phil Lord, Christopher Miller]
1423                       [Mark Neveldine, Brian Taylor]
                               ...
6590                             [David Bowers, Sam Fell]
6648                           [Anthony Russo, Joe Russo]
6649                     [Jonathan Dayton, Valerie Faris]
6671         [Roger Allers, Jill Culton, Anthony Stacchi]
6778           [Paul Bolger, Yvette Kaplan, Greg Tiernan]
6881               [Mat Whitecross, Michael Winterbottom]
6977        [Andrew Adamson, Kelly Asbury, Conrad Vernon]
7046                            [Will Finn, John Sanford]
7389                             [Brad Bird, Jan Pinkava]
7411                            [Chris Miller, Raman Hui]
7415                      [Steve Hickner, Simon J. Smith]
7431                        [Colin Strause, Greg Strause]
7466                            [Ash Brannon, Chris Buck]
7573                      [David Nerlich, Andrew Traucki]
7598                    [Bernie Goldmann, Melisa Wallack]
7630                 [Alastair Fothergill, Mark Linfield]
7644                       [Patrick Archibald, Jay Oliva]
7647                   [Luis Piedrahita, Rodrigo SopeÃ±a]
7680                      [Lauren Montgomery, Bruce Timm]
8243                          [Ron Clements, John Musker]
8378              [Ted Berman, Art Stevens, Richard Rich]
8977                      [John Lasseter, Andrew Stanton]
8985                     [Bobby Farrelly, Peter Farrelly]
9316                          [Gary Trousdale, Kirk Wise]
9421     [Eleanor Coppola, Fax Bahr, George Hickenlooper]
9631                            [Peter Harris, Eric Till]
9708                            [Y.K. Kim, Woo-sang Park]
9807                         [Terry Gilliam, Terry Jones]
10213                         [Peter Clifton, Joe Massot]
10328         [John Carpenter, Tobe Hooper, Larry Sulkis]
Name: director, Length: 175, dtype: object

In [47]:
non_split_director = movie_data[~select_split_director].director.value_counts()

In [48]:
non_split_director

John Carpenter          17
Steven Soderbergh       11
Steven Spielberg        11
Clint Eastwood           8
Peter Jackson            8
Robert Zemeckis          8
Ridley Scott             8
Paul W.S. Anderson       7
Christopher Nolan        7
David Fincher            7
Ron Howard               7
Martin Scorsese          7
Quentin Tarantino        6
Michael Bay              6
Francis Ford Coppola     6
Francis Lawrence         6
Martin Campbell          5
Brian Robbins            5
Guy Ritchie              5
George Lucas             5
Gore Verbinski           5
Kevin Smith              5
Rob Zombie               5
James Wan                5
Marc Forster             5
Chris Columbus           5
Peter Berg               5
John Glen                5
Dennis Dugan             5
Darren Aronofsky         5
                        ..
Ben Ketai                1
Michael Lehmann          1
J Blakeson               1
Bradley King             1
Rodrigo GarcÃ­a          1
Ed Decter                1
Joey Ansah               1
John Lasseter            1
Joshua Michael Stern     1
Julie Anne Robinson      1
Jonas Elmer              1
Dermot Mulroney          1
Mike Figgis              1
Patty Jenkins            1
Steve Carr               1
Alan Poul                1
Tod Williams             1
Blair Erickson           1
Damon Gameau             1
Jared Hess               1
Mary Agnes Donoghue      1
Billy Corben             1
Spencer Susser           1
David Soren              1
Julia Leigh              1
Robbie Pickering         1
Mel Brooks               1
Kristin Hanggi           1
Josh Trank               1
Leigh Whannell           1
Name: director, Length: 1187, dtype: int64

In [49]:
for director in split_director:
    for d in director:
        if d in non_split_director:
            non_split_director[d] += 1
        else:
            non_split_director[d] = 1

John Carpenter          18
Steven Soderbergh       11
Steven Spielberg        11
Clint Eastwood           8
Peter Jackson            8
Robert Zemeckis          8
Ridley Scott             8
Paul W.S. Anderson       7
Christopher Nolan        7
David Fincher            7
Ron Howard               7
Martin Scorsese          7
Quentin Tarantino        7
Michael Bay              6
Francis Ford Coppola     6
Francis Lawrence         6
Martin Campbell          5
Brian Robbins            5
Guy Ritchie              5
George Lucas             5
Gore Verbinski           5
Kevin Smith              5
Rob Zombie               5
James Wan                5
Marc Forster             5
Chris Columbus           5
Peter Berg               5
John Glen                5
Dennis Dugan             5
Darren Aronofsky         5
                        ..
Yvette Kaplan            1
Greg Tiernan             1
Mat Whitecross           1
Will Finn                1
John Sanford             1
Jan Pinkava              1
Chris Miller             1
Simon J. Smith           1
David Nerlich            1
Bernie Goldmann          1
Melisa Wallack           1
Mark Linfield            1
Patrick Archibald        1
Luis Piedrahita          1
Rodrigo SopeÃ±a          1
Bruce Timm               1
Ted Berman               1
Art Stevens              1
Richard Rich             1
Eleanor Coppola          1
Fax Bahr                 1
Peter Harris             1
Eric Till                1
Y.K. Kim                 1
Woo-sang Park            1
Terry Jones              1
Peter Clifton            1
Joe Massot               1
Tobe Hooper              1
Larry Sulkis             1
Name: director, Length: 1444, dtype: int64

In [ ]:
# 再次排序
non_split_director

In [50]:
non_split_director[:10]

John Carpenter        18
Steven Soderbergh     11
Steven Spielberg      11
Clint Eastwood         8
Peter Jackson          8
Robert Zemeckis        8
Ridley Scott           8
Paul W.S. Anderson     7
Christopher Nolan      7
David Fincher          7
Name: director, dtype: int64

In [51]:
# 排行前十的director

top10_director = pd.Series(non_split_director[:10].index, name='director').reset_index()
top10_director

   index            director
0      0      John Carpenter
1      1   Steven Soderbergh
2      2    Steven Spielberg
3      3      Clint Eastwood
4      4       Peter Jackson
5      5     Robert Zemeckis
6      6        Ridley Scott
7      7  Paul W.S. Anderson
8      8   Christopher Nolan
9      9       David Fincher

In [53]:
sort_data = movie_data.merge(top10_director, on='director').sort_values(['index', 'revenue_adj'],ascending=[True, False])

In [55]:
target_data = sort_data.groupby('director').head(3)
target_data

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,index
73,948,tt0077651,1.198849,300000,70000000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,91,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.3,1978,1.002810e+06,2.339890e+08,0
64,1103,tt0082340,1.003963,6000000,50000000,Escape from New York,Kurt Russell|Lee Van Cleef|Ernest Borgnine|Don...,http://www.theofficialjohncarpenter.com/escape...,John Carpenter,1997. New York City is now a maximum security ...,...,99,Science Fiction|Action,AVCO Embassy Pictures|Goldcrest Films Internat...,5/22/81,336,6.5,1981,1.438914e+07,1.199095e+08,0
60,9663,tt0088172,0.637446,22000000,28744356,Starman,Jeff Bridges|Karen Allen|Charles Martin Smith|...,http://www.theofficialjohncarpenter.com/starman/,John Carpenter,"In 1977 Voyager II was launched into space, in...",...,115,Action|Adventure|Drama|Romance|Science Fiction,Columbia Pictures|Delphi II Productions|Indust...,12/14/84,91,6.3,1984,4.617892e+07,6.033561e+07,0
48,161,tt0240772,2.642249,85000000,450717150,Ocean's Eleven,George Clooney|Brad Pitt|Matt Damon|Andy GarcÃ...,http://www.warnerbros.co.uk/movies/oceans-eleven,Steven Soderbergh,Are you in or out?,...,116,Thriller|Crime,Village Roadshow Pictures|Section Eight|NPV En...,12/7/01,2645,7.0,2001,1.046765e+08,5.550528e+08,1
54,163,tt0349903,2.175284,110000000,362744280,Ocean's Twelve,George Clooney|Brad Pitt|Catherine Zeta-Jones|...,http://oceans12.warnerbros.com/,Steven Soderbergh,Twelve is the new eleven.,...,125,Thriller|Crime,Village Roadshow Pictures|Section Eight|Jerry ...,12/9/04,1376,6.4,2004,1.269890e+08,4.187685e+08,1
55,298,tt0496806,1.414350,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,http://oceans13.warnerbros.com/,Steven Soderbergh,What are the odds of getting even? 13 to one.,...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/07,1371,6.4,2007,8.939183e+07,3.273977e+08,1
89,578,tt0073195,2.563191,7000000,470654000,Jaws,Roy Scheider|Robert Shaw|Richard Dreyfuss|Lorr...,http://www.jaws25.com/,Steven Spielberg,Don't go in the water.,...,124,Horror|Thriller|Adventure,Universal Pictures|Zanuck/Brown Productions,6/18/75,1415,7.3,1975,2.836275e+07,1.907006e+09,2
87,601,tt0083866,2.900556,10500000,792910554,E.T. the Extra-Terrestrial,Henry Thomas|Drew Barrymore|Robert MacNaughton...,http://www.et20.com/,Steven Spielberg,He is afraid. He is alone. He is three million...,...,115,Science Fiction|Adventure|Family|Fantasy,Universal Pictures|Amblin Entertainment,4/3/82,1830,7.2,1982,2.372625e+07,1.791694e+09,2
91,329,tt0107290,2.204926,63000000,920100000,Jurassic Park,Sam Neill|Laura Dern|Jeff Goldblum|Richard Att...,http://www.jurassicpark.com/,Steven Spielberg,An adventure 65 million years in the making.,...,127,Adventure|Science Fiction,Universal Pictures|Amblin Entertainment,6/11/93,3169,7.4,1993,9.509661e+07,1.388863e+09,2
38,190859,tt2179136,3.863074,58800000,542307423,American Sniper,Bradley Cooper|Sienna Miller|Kyle Gallner|Cole...,http://www.americansnipermovie.com,Clint Eastwood,The most lethal sniper in U.S. history.,...,134,War|Action,Village Roadshow Pictures|Malpaso Productions|...,12/11/14,3004,7.5,2014,5.416015e+07,4.995145e+08,3
40,13223,tt1205489,2.245306,33000000,269958228,Gran Torino,Clint Eastwood|Christopher Carley|Bee Vang|Ahn...,http://www.thegrantorino.com/,Clint Eastwood,Ever come across somebody you shouldn't have m...,...,116,Drama,Village Roadshow Pictures|Malpaso Productions|...,12/9/08,1809,7.6,2008,3.342196e+07,2.734101e+08,3
44,70,tt0405159,1.648554,30000000,216763646,Million Dollar Baby,Clint Eastwood|Hilary Swank|Morgan Freeman|Jay...,http://www.milliondollarbaby-derfilm.de/,Clint Eastwood,"Beyond his silence, there is a past. Beyond he...",...,132,Drama,Lakeshore Entertainment|Malpaso Productions|Ep...,12/14/04,1355,7.6,2004,3.463336e+07,2.502418e+08,3
29,122,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net,Peter Jackson,The eye of the enemy is moving.,...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/03,5636,7.9,2003,1.114231e+08,1.326278e+09,4
26,121,tt0167261,8.095275,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,A New Power Is Rising.,...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/02,5114,7.8,2002,9.576865e+07,1.122902e+09,4
25,120,tt0120737,8.575419,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,One ring to rule them all,...,178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/01,6079,7.8,2001,1.145284e+08,1.073080e+09,4
11,105,tt0088763,6.095293,19000000,381109762,Back to the Future,Michael J. Fox|Christopher Lloyd|Lea Thompson|...,http://www.backtothefuture.com/movies/backtoth...,Robert Zemeckis,He's the only kid ever to get into trouble bef...,...,116,Adventure|Comedy|Science Fiction|Family,Universal Pictures|Amblin Entertainment|U-Driv...,7/3/85,3785,7.8,1985,3.851615e+07,7.725728e+08,5
14,165,tt0096874,2.566875,40000000,332000000,Back to the Future Part II,Michael J. Fox|Christopher Lloyd|Lea Thompson|...,http://www.backtothefuture.com/movies/backtoth...,Robert Zemeckis,"Roads? Where we're going, we don't need roads!",...,108,Adventure|Comedy|Family|Science Fiction|Action,Universal Pictures|Amblin Entertainment|U-Driv...,11/20/89,2436,7.2,1989,7.035940e+07,5.839830e+08,5
15,196,tt0099088,2.441201,40000000,244527583,Back to the Future Part III,Michael J. Fox|Christopher Lloyd|Mary Steenbur...,http://www.backtothefuture.com/movies/backtoth...,Robert Zemeckis,They've saved the best trip for last... But th...,...,118,Adventure|Action|Comedy|Science Fiction|Family,Universal Pictures|Amblin Entertainment|U-Driv...,5/25/90,1762,6.9,1990,6.675594e+07,4.080917e+08,5
0,286217,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,Bring Him Home,...,141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/15,4572,7.6,2015,9.935996e+07,5.477497e+08,6
3,70981,tt1446714,4.008188,130000000,403170142,Prometheus,Noomi Rapace|Michael Fassbender|Charlize Thero...,http://www.projectprometheus.com/,Ridley Scott,The Search for Our Beginning Could Lead to Our...,...,124,Science Fiction|Adventure|Mystery,Twentieth Century Fox Film Corporation|Dune En...,5/30/12,3559,6.2,2012,1.234668e+08,3.829085e+08,6
6,348,tt0078748,4.935897,11000000,104931801,Alien,Sigourney Weaver|Tom Skerritt|Veronica Cartwri...,https://www.facebook.com/alienanthology/,Ridley Scott,In space no one can hear you scream.,...,117,Horror|Action|Thriller|Science Fiction,Twentieth Century-Fox Productions|Brandywine P...,5/25/79,2724,7.6,1979,3.305009e+07,3.152733e+08,6
74,35791,tt1220634,0.131526,60000000,296221663,Resident Evil: Afterlife,Milla Jovovich|Wentworth Miller|Ali Larter|Kim...,http://www.sonypictures.com/movies/residentevi...,Paul W.S. Anderson,She's back...And she's bringing a few of her f...,...,97,Action|Adventure|Horror|Science Fiction,Impact Pictures|Davis-Films|Constantin Film Pr...,9/9/10,882,5.8,2010,6.000000e+07,2.962217e+08,7
78,71679,tt1855325,0.260624,65000000,240159255,Resident Evil: Retribution,Milla Jovovich|Sienna Guillory|Michelle Rodrig...,http://www.residentevil-movie.com/site/,Paul W.S. Anderson,The Ultimate Battle Begins,...,95,Action|Horror|Science Fiction,Davis-Films,9/12/12,1152,5.6,2012,6.173338e+07,2.280899e+08,7
79,395,tt0370263,1.348704,70000000,171183863,AVP: Alien vs. Predator,Sanaa Lathan|Raoul Bova|Ewen Bremner|Colin Sal...,http://www.avp-movie.com/,Paul W.S. Anderson,Whoever wins... We lose,...,101,Adventure|Science Fiction|Action,Impact Pictures|Studio Babelsberg|Twentieth Ce...,8/12/04,696,5.5,2004,8.081118e+07,1.976224e+08,7
19,49026,tt1345836,6.591277,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,http://www.thedarkknightrises.com/,Christopher Nolan,The Legend Ends,...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/12,6723,7.5,2012,2.374361e+08,1.026713e+09,8
18,155,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,http://thedarkknight.warnerbros.com/dvdsite/,Christopher Nolan,Why So Serious?,...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/08,8432,8.1,2008,1.873655e+08,1.014733e+09,8
17,27205,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,http://inceptionmovie.warnerbros.com/,Christopher Nolan,Your mind is the scene of the crime.,...,148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/10,9767,7.9,2010,1.600000e+08,8.255000e+08,8
37,807,tt0114369,4.765359,33000000,327311859,Se7en,Brad Pitt|Morgan Freeman|Gwyneth Paltrow|John ...,http://www.sevenmovie.com/,David Fincher,Seven deadly sins. Seven ways to die.,...,127,Crime|Mystery|Thriller,New Line Cinema|Juno Pix|Cecchi Gori Pictures,9/22/95,3535,7.9,1995,4.722191e+07,4.683724e+08,9
31,210577,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,http://www.gonegirlmovie.com/,David Fincher,You don't know what you've got 'til it's...,...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/14,3720,7.9,2014,5.618655e+07,3.401869e+08,9
34,4922,tt0421715,2.537342,150000000,333932083,The Curious Case of Benjamin Button,Cate Blanchett|Brad Pitt|Tilda Swinton|Julia O...,http://www.benjaminbutton.com/,David Fincher,"Life isn't measured in minutes, but in moments.",...,166,Fantasy|Drama|Thriller|Mystery|Romance,Paramount Pictures|Warner Bros.|Kennedy/Marsha...,11/24/08,1899,7.2,2008,1.519180e+08,3.382020e+08,9

分析：

---

**[选做]任务3.4：**分析1968年~2015年六月电影的数量的变化。

### 通关必备：
1. 使用`pd.to_datetime()`把`movie_data['release_date']`转换成datetime格式。
2. `movie_data['release_date'].dt.year`可以访问年份，`movie_data['release_date'].dt.month`可以访问月份
3. 设置年份筛选条件，可以使用 `.dt.year.between()` 进行范围筛选。
4. 设置月份筛选条件， 可以使用 `.dt.month == `进行特定值筛选。
5. 根据前两个筛选条件，对`movie_data`筛选数据，并按年份统计结果。可以使用 `.release_year.value_counts().sort_index()`。
6. 对结果进行画图。

In [ ]:
# movie_data['release_date']转化成datetime格式
movie_data['release_date'] =

In [ ]:
# 筛选条件1 年份
select_years =

In [ ]:
# 筛选条件2 六月
select_month =

In [ ]:
# 筛选数据并画图
ret = movie_data[select_years & select_month]
ret.plot()

分析：

---

**[选做]任务3.5：**分析1968年~2015年六月电影 `Comedy` 和 `Drama` 两类电影的数量的变化。

### 通关必备：
1. 使用`pd.to_datetime()`把`movie_data['release_date']`转换成datetime格式。
2. `movie_data['release_date'].dt.year`可以访问年份，`movie_data['release_date'].dt.month`可以访问月份
3. 设置年份筛选条件，可以使用 `.dt.year.between()` 进行范围筛选。
4. 设置月份筛选条件， 可以使用 `.dt.month == `进行特定值筛选。
5. 如果上一步的任务已经完成，可以直接使用上一步的筛选条件。
5. 设置电影类型筛选Comedy，由于电影类型是包含分割符的，一个电影可以是多种类型，所以可以使用`movie_data.genres.str.contains('Comedy')`来筛选。 
6. 设置电影类型筛选Drama，`.str.contains('Drama')`
7. 根据前3个筛选条件，对`movie_data`筛选数据，并按年份统计结果。可以使用 `.release_year.value_counts().sort_index()`。
8. 对结果进行画图,图中包含两个类型的数据，Comedy和Drama。

In [ ]:
# 筛选条件1 年份
select_years =

In [ ]:
# 筛选条件2 六月
select_month =

In [ ]:
# # 筛选条件3 类型 Comedy
select_comedy =

In [ ]:
# # 筛选条件3 类型 Drama
select_drama =

In [ ]:
# 筛选出Comedy数据
ret_comedy =
# 筛选出Drama数据
ret_drama =

In [ ]:
# 画图, 自由发挥吧

分析：

> 注意: 当你写完了所有的代码，并且回答了所有的问题。你就可以把你的 iPython Notebook 导出成 HTML 文件。你可以在菜单栏，这样导出**File -> Download as -> HTML (.html)、Python (.py)** 把导出的 HTML、python文件 和这个 iPython notebook 一起提交给审阅者。